@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Roboto-Medium.ttf);
}

$font-1: "font-1", sans-serif;

$color-main: #8CB8F2;
$color-text: #292929;
$color-action: #FFAB22;
$color-background-main: #FFFFFF;
$color-background-darker: #EDEDED;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background: $color-background-main;
    font-family: $font-1;
  }

li {
    list-style-type: none;
}
