// @font-face {
//   font-family: "font-1";
//   src: url(../assets/fonts/Roboto-Medium.ttf);
// }

// @font-face {
//   font-family: "font-2";
//   src: url(../assets/fonts/Roboto-Regular.ttf);
// }

// $font-1: "font-1", sans-serif;
// $font-2: "font-2", sans-serif;

$color-main: #8CB8F2;
$color-text: #292929;
$color-action: #FFAB22;
$color-background-main: rgb(238, 237, 237, 0.568);
$color-background-darker: #e4dcdc;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background: $color-background-main;
    // font-family: Arial, Helvetica, sans-serif;
  }

li {
    list-style-type: none;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: $color-main;
  align-items:center;
  padding: 0 30px;
  border-bottom: 3px groove $color-background-darker;
}

// h1, h2, h3, h4 {
//   font-family: $font-2;
// }
