@font-face {
  font-family: "font-1";
  src: url(../assets/font/Lato-Regular.ttf);
}

@font-face {
  font-family: "font-2";
  src: url(../assets/font/Lato-BoldItalic.ttf);
}

$font-1: "font-1", sans-serif;
$font-2: "font-2", sans-serif;

$color-main: #FD2D01;
$color-text: black;
$color-action: #FFD7D7;
$color-third: #4E5166;
$color-background-main: #FFD7D7;
$color-background-darker: white;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background: $color-background-main;
    font-family: $font-1;
  }

li {
    list-style-type: none;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: $color-main;
  align-items:center;
  padding: 0 30px;
  border-bottom: 3px groove $color-third;
}

h1, h2, h3, h4 {
  font-family: $font-2;
}

.error-container {
  font-weight: bold;
  color: rgb(124, 15, 15)
}

.success-container {
  font-weight: bold;
  color: rgb(10, 82, 10)
}