.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-main;
    border-top: 3px ridge $color-third;
    padding: 15px 35px;
    img {
        height: 170px;
    }
}